@import url('https://fonts.googleapis.com/css?family=Spartan&display=swap');
/*
Лштп штхих шхшщхпщ по хкфхр зъсив - злчпщл лм
*/
body{
  font-family: 'Spartan', ;
  padding: 10px;
  margin: 0;
}
body > div{
  font-size: 20px;
}
/*
Штхижуп шюпщжещшё ишл штхиж, и щху юпштл п цчлктхйп
*/
body > div::first-letter{
  font-size: 90px;
}
body > h1:first-child{
  text-align:center;
}
























































































/*
Штхиж, схщхчвл пулещ улнкъ шхзхр клыпш - шюпщжщг ож киж штхиж. Хщилщ шхклчнпщ щчп штхиж
*/
